*{
    font-family: sans-serif;
	font-size: 12px;
	color: dimgray;
}
body{
	width: 400px;
	margin: auto;
	background: #eff4fa;
}

.registro{
    border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 45px 45px 20px;
	margin-top: 100px;
	background-color: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

.registro label{
	display: block; /* esto es para que el label se sobreponga a la caja de texto */
	font-weight: bold;
}
.registro div{
	margin-bottom: 15px; /* esto los separara un poco */
}
.registro input[type='text']{
	padding: 7px 6px;
	width: 294px; /* una longitud definida */
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}

.registro input[type='tel']{
	padding: 7px 6px;
	width: 294px; /* una longitud definida */
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}